.App {
  text-align: center;
}

.App-header {
  background-color: #303030;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-template-rows: 350px 0.5fr 150px;
}

.empir-logo {
  position: absolute;
  left: 0;
  top: 0;
}

.create-measurement-error {
  font-size: 15px;
  color: red;
  margin-bottom: -5px;
}