.operator-view-cards {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  width: 75%;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}

.card-root {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 100%;
}

.card-content {
  display: grid;
}

.create-measurement-cards {
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr;
}

.create-measurement {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.create-measurement-form {
  display: grid;
  align-items: center;
  height: 100%;
}

