.single-result-accordion {
  margin: auto;
  display: grid;
  padding: 5px;
}

.accordion-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.measurement-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "header header"
  "main main";
  padding: 20px;
}

.crane-name {
  grid-area: header;
}

.integrity-checks {
  padding: 20px;
}

.result-measurement-buttons {
  padding: 10px;
}

.integrity-and-buttons {
  display: grid;
  grid-template-rows: 1fr 80px;
}

h3 {
  margin-top: 0px
}